.wp-block-lobelia-slider .flickity-cell {
	width: 100%;
}

.wp-block-lobelia-slider .flickity-prev-next-button.previous {
	left: max(var(--size--lg), calc(50% - var(--wide-size) / 2));
}

.wp-block-lobelia-slider .flickity-prev-next-button.next {
	right: max(var(--size--lg), calc(50% - var(--wide-size) / 2));
}

.wp-block-lobelia-slider .wp-block-cover {
	min-height: 640px;
	height: 65vh;
}

.wp-block-lobelia-slider .wp-block-cover .wp-block-heading {
	font-size: var(--size--3-xl);
}

.wp-block-lobelia-slider .flickity-cell .wp-block-cover__inner-container {
	opacity: 1;
	transition: opacity .5s ease-in .4s;
}

.wp-block-lobelia-slider .flickity-slider:has(.is-selected) .flickity-cell:not(.is-selected) .wp-block-cover__inner-container {
	opacity: 0;
	transition: opacity .1s ease-in 0s;
}
