body {
	font-size: var(--size--sm);
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: var(--size--2-xl);
	font-family: var(--wp--preset--font-family--calligraffitti);
	line-height: 1.15em;
}

h2 {
	font-size: var(--size--xl);
	font-family: var(--wp--preset--font-family--calligraffitti);
	line-height: 1.2em;
}

h3 {
	font-size: var(--size--lg);
	line-height: 1.25em;
}

h4 {
	font-size: var(--size--md);
	line-height: 1.3em;
}

h5 {
	font-size: var(--size--sm);
	line-height: 1.5em;
}

h6 {
	font-size: var(--size--xs);
	line-height: 1.3em;
}

* + :is(h1, h2, h3, h4, h5, h6, p) {
	margin-block-start: 1em;
}
